:root {
    --main-color: #5e5977;
    --secondary-color: #8c6ebe;
    --tertiary-color: #e5813b;
}

.admin-main-body {
    position: relative;
    height: inherit;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.admin-body-divider {
    position: relative;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-ticket-container {
    height: 44vh;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.admin-menu-container {
    /* background-color: var(--main-color); */
    height: 43vh;
    /* border: 3px solid var(--tertiary-color); */
    border-radius: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.admin-menu-container > .admin-section-card {
    position: relative;
    width: 25vmin;
    font-size: clamp(10px, 2vh, 2rem);
    aspect-ratio: 5/ 7;
    /* border: 1px solid var(--tertiary-color); */
    border-radius: 10%;

    color: white;
    text-align: center;
}

.admin-menu-link {
    position: absolute;
    bottom: 5%;
    color: black;
    text-decoration: none;
}

.admin-image-section {
    /* background-color: var(--main-color); */
    height: 80vh;
    width: 40vw;
    overflow: hidden;
    /* border: 3px solid var(--tertiary-color); */
    border-radius: 5%;
}

