.footer_bar {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: clamp(1vh, 10vh, 10vh);
    width: 100vw;
    background-color: rgb(6, 0, 0);
    opacity: 1.0;
    border-top: 3px solid #474a4d;
}

.current_user {
    font-size: clamp(10px, 3vh, 4rem);
    position: absolute;
    bottom: 5%;
    color: white;
}

.current_usertype {
    font-size: clamp(10px, 3vh, 4rem);
    position: absolute;
    left: 30%;
    bottom: 5%;
    color: white;
}