:root {
    --bg-color: rgb(20, 20, 20);
    --font-color: white;
}

.modal_background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 100px;
}

.modal_container .modal_header {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    gap: 170px;
    border: 1px solid black;
}

.modal_container .modal_header h1 {
    margin: 5px;
    align-items: center;
}

.modal_container .modal_header button {
    margin: 10px;
    max-width: 25px;
    max-height: 25px;
    align-items: center;
}

.modal_container .modal_body {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border: 1px solid black;
}

.modal_container .modal_footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.modal_container .modal_footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancel_button {
    background-color: crimson;
}